<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>One Page Solo Engine</title>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <div>
                <h2>The Scene</h2>
                <p>
                    <a @click="lastScene = setTheScene()">SetTheScene: </a><span>{{lastScene}}</span>
                </p>
            </div>
            <div>
                <h2>The Oracle</h2>
                <p>
                    Likelyhood: <a @click="simpleQuestionLikelyhood=3">Likely</a><a @click="simpleQuestionLikelyhood=4">Normal</a><a @click="simpleQuestionLikelyhood=5">Unlikeky</a>
                </p>
                <p>
                    <a @click="simpleQuestionLastAnswer = askSimpleQuestion(4)">Ask a simple question: </a><span>{{simpleQuestionLastAnswer}}</span>
                </p>
                <p>
                    <a @click="complexQuestionLastAnswer = askComplexQuestion()">Ask a complex question: </a><span>{{complexQuestionLastAnswer}}</span>
                </p>
            </div>
            <div>
                <h2>NPC Reaction</h2>
                <p>
                    <a @click="npcLastReaction = checkNpcReaction()">Check NPC reaction: </a><span>{{npcLastReaction}}</span>
                </p>
            </div>
            <div>
                <h2>NPC Tactics</h2>
                <p>
                    <a @click="lastRolledTactics = checkEnemyTactics()">Check enemy tactics: </a><span>{{lastRolledTactics}}</span>
                </p>
            </div>
            <div>
                <h2>Dungeon Crawler</h2>
                <p>
                    <a @click="lastRolledRoom = dungeonCrawl()">Explore dungeon: </a><span>{{lastRolledRoom}}</span>
                </p>
            </div>
        </div>
        <script src="opse.js"></script>
    </body>
</html>
